button{
    font-size: 24px;
    color: cornsilk;
    margin:60px 25px;
    background: rgb(8, 85, 230);
    border:0px;
    padding: 14px 25px;
    border-radius: 10px;
}
#subscribe{
    background: rgb(8, 85, 230);
}
#backToTop{
    background: rgb(8, 148, 104);
}
.popup-wrapper{
    background: rgba(0, 0, 0, 0.7);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup{
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 10% auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding:20px 10px;
    position: relative;
}
.popup button{
    display: block;
    width: 100%;
    font-size: 22px;
    padding: 10px 10px;
    border:0px;
    border-radius: 5px;
    background: blueviolet;
    width: 65%;
    text-decoration: none;
    color: cornsilk;
    margin:20px auto;
    opacity: 1;
}
.popup h2{
    font-size: 28px;
    margin:40px auto;
    font-weight: bold;
}
.popup input{
    font-size: 22px;
}
.popup-close{
    position: absolute;
    right:20px;
    top: 15px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    cursor:pointer;
}
.hide{
    display: none;
}