h1{
    text-align: center;
}
.tabs{
    text-align: center;
    padding: 0px;
    margin:0px;
    font-size: 26px;
}
.tabs .active{
    background-color: teal;
}
.tab{
    display: inline-block;
    background-color:black;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}
.tab-content{
    font-size: 22px;
    text-align: center;
    width: 50%;
    border: solid 5px teal;
    margin: 0 auto;
}
.content{
    display: none;
}
.tab-content .active{
    display: block;
}
img{
    display: block;
    margin: 10px auto;
}